* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

/* Navbar */
.navbar {
  display: flex;
  flex-flow: row;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
}

.header {
  height: 9vh;
}

.navbar__rightLinks {
  text-decoration: none;
  color: #151515;
  margin-left: 2vw;
}

.navbar__rightLinks:hover {
  text-decoration: underline;
  text-decoration-color: blue;
}

.navbar__right {
  margin-top: 3vh;
  margin-left: 14vw;
}

.icon {
  margin-top: 3vh;
  margin-left: 4vw;
}

.iconShare {
  margin-left: 1vw;
}

.iconShare:hover {
  cursor: pointer;
  color: blue;
}

.Gallery {
  display: none;
}

.navbar__rightLinks:hover + .Gallery {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 15%;
  outline-style: solid;
  outline-color: gray;
}

.Gallery:hover {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 15%;
  outline-style: solid;
  outline-color: gray;
}

.Blog {
  display: none;
}

.navbar__rightLinks:hover + .Blog {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 26%;
  outline-style: solid;
  outline-color: gray;
  background-color: white;
}

.Blog:hover {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 26%;
  outline-style: solid;
  outline-color: gray;
}

.dropBox__rightLinks {
  text-decoration: none;
  color: #151515;
  background-color: white;
}

.dropBox__rightLinks:hover {
  text-decoration: underline;
  text-decoration-color: blue;
  background-color: white;
}

.Page {
  display: none;
}

.navbar__rightLinks:hover + .Page {
  display: flex;
  flex-direction: row;
  position: fixed;
  outline-style: solid;
  outline-color: gray;
  background-color: white;
  width: 99%;
  left: 0.5%;
}

.Page:hover {
  display: flex;
  flex-direction: row;
  position: fixed;
  outline-style: solid;
  outline-color: gray;
  background-color: white;
  width: 99%;
  left: 0.5%;
}

.divider {
  border-left: 1px solid #38546d;
  border-right: 1px solid #16222c;
  height: 280px;
}

.dropBox__Page {
  text-decoration: none;
  color: #151515;
  width: 33%;
  margin-left: 2%;
  display: flex;
}

.dropBox__Page {
  display: flex;
  flex-flow: column;
}

.pageRow {
  display: flex;
  flex-flow: row;
}

.pageColumn {
  display: inline;
  flex-flow: column;
}

.pageColumn2 {
  display: inline;
  flex-flow: column;
  margin-left: 15%;
}

/* hero section */

.background {
  height: 550px;
  background-image: url(https://ld-wt73.template-help.com/wt_prod-18959/images/slider-1-slide-1-1770x742.jpg);
  background-size: cover;
  text-align: center;
}

.backgroundH1 {
  font-weight: 600;
  font-size: 70px;
  line-height: 2;
  color: #151515;
  text-transform: capitalize;
  letter-spacing: 0.024em;
  word-spacing: 0.05em;
}

.backgroundH3 {
  font-size: 16px;
  line-height: 2;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #151515;
}

.button {
  margin-top: 2vh;
  color: #ffffff;
  background-color: #756aee;
  border-color: #756aee;
  display: inline-block;
  min-width: 200px;
  padding: 17px 33px 15px;
  font-size: 16px;
  line-height: 1.34;
  border: 2px solid;
  font-weight: 600;
  letter-spacing: 0.075em;
  cursor: pointer;
  text-decoration: none;
}


/* Latest Blog  */

.container {
  float: left;
  width: 35%;
  padding: 0 10px;
}

#blog-post {
  margin: 0 -5px;
  padding-left: 9.7em;
}

#blog-post:after {
 content: "";
 display: table;
 clear: both;
}

#blog-post h2 {
 text-align: center;
 padding-bottom: 2.2em;
 padding-top: 2.2em;
 font-weight: bold;
 font-size: 2.9em;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}





/* -----------Footer       */

footer {
  width: 100%;
  background-color: #1b1a29;
  padding: 60px 60px;
  display: flex;
  justify-content: space-around;
}

.footer-column {
  flex: 33%;
  margin-right: 20px;
  padding: 20px;
  font-size: 18px;
}

.footer-column-1 {
  padding-right: 5%;
}

.footer-paragraph > p {
  color: rgb(187, 186, 186);
  margin-bottom: 20px;
}

.footer-column-test {
  background-color: red;
}

.footer-description {
  height: 65px !important;
  display: flex;
  align-items: center;
}

.footer-description-title {
  color: #a096f8;
  font-size: 25px;
  flex: 0.3;
}

.footer-description-content {
  flex: 0.7;
}

.footer-description-content > a {
  text-decoration: none;
  color: white;
}

.footer-description-content > a:hover {
  color: #a096f8;
}

.line {
  width: 100%;
  height: 5px;
  border-bottom: 1px solid lightgray;
}

.footer-form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* Footer Form */

#form {
  background: 🕶;
  padding: 25px;
  margin: 10px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#form h1 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #38546d;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 2em;
  width: 100%;
}

#form input[type="name"],
#form input[type="email"],
#form input[type="message"],
#form textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #1b1a29;
  margin: 0 0 5px;
  padding: 20px;
  font-size: 1em;
  font-weight: bold;
}

#form button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #a096f8;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#form button[type="submit"]:hover {
  background: black;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* Footer Column 3 */

#column-3 a {
  text-decoration: none;
  color: #fff;
  line-height: 1.7em;
}

#column-3 ul,
h1 {
  list-style: none;
  color: gray;
  font-size: 1em;
}

#column-3 {
  padding: 2em;
  margin: 0em;
  font-size: 2em;
  padding-top: 1em;
}

#column-3 a:hover {
  color: #a096f8;;
}

.rights {
  text-align: center;
  color: #38546d;
  padding-bottom: 0.3em;
  margin: 3.2em;
}

.rights a {
  color: #38546d;
  text-decoration: none;
}
