body {
  background-color: #ffffff;
}

/* Navbar */
.navbar {
  display: flex;
  flex-flow: row;
}

.navbar__rightLinks {
  text-decoration: none;
  color: #151515;
  margin-left: 2vw;
}

.navbar__rightLinks:hover {
  text-decoration: underline;
  text-decoration-color: blue;
}

.navbar__right {
  margin-top: 3vh;
  margin-left: 14vw;
}

.icon {
  margin-top: 3vh;
  margin-left: 4vw;
}

.iconShare {
  margin-left: 1vw;
}

.iconShare:hover {
  cursor: pointer;
  color: blue;
}

.Gallery {
  display: none;
}

.navbar__rightLinks:hover + .Gallery {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 15%;
  outline-style: solid;
  outline-color: gray;
}

.Gallery:hover {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 15%;
  outline-style: solid;
  outline-color: gray;
}

.Blog {
  display: none;
}

.navbar__rightLinks:hover + .Blog {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 26%;
  outline-style: solid;
  outline-color: gray;
  background-color: white;
}

.Blog:hover {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 26%;
  outline-style: solid;
  outline-color: gray;
}

.dropBox__rightLinks {
  text-decoration: none;
  color: #151515;
  background-color: white;
}

.dropBox__rightLinks:hover {
  text-decoration: underline;
  text-decoration-color: blue;
  background-color: white;
}

.Page {
  display: none;
}

.navbar__rightLinks:hover + .Page {
  display: flex;
  flex-direction: row;
  position: fixed;
  outline-style: solid;
  outline-color: gray;
  background-color: white;
  width: 99%;
  left: 0.5%;
}

.Page:hover {
  display: flex;
  flex-direction: row;
  position: fixed;
  outline-style: solid;
  outline-color: gray;
  background-color: white;
  width: 99%;
  left: 0.5%;
}

.divider {
  border-left: 1px solid #38546d;
  border-right: 1px solid #16222c;
  height: 280px;
}

.dropBox__Page {
  text-decoration: none;
  color: #151515;
  width: 33%;
  margin-left: 2%;
  display: flex;
}

.dropBox__Page {
  display: flex;
  flex-flow: column;
}

.pageRow {
  display: flex;
  flex-flow: row;
}

.pageColumn {
  display: inline;
  flex-flow: column;
}

.pageColumn2 {
  display: inline;
  flex-flow: column;
  margin-left: 15%;
}
/* -----------Footer       */

.footer-column-1 {
  display: inline-block;
}

footer {
  width: 100%;
  background-color: #16222c;
  padding: 60px 0px;
}

.footer-paragraph {
  font-size: 17px;
  display: block;
  color: gray;
  padding-left: 30pt;
  padding-right: 1000pt;
}

.footer-heading {
  padding-left: 30pt;
  display: inline-block;
  font-size: 30px;
  color: purple;
}

.footer-address {
  padding-left: 10pt;
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #ffffff;
}

.line {
  margin-right: 1290px;
  margin-left: 40px;
}
