* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-purple-color: #756aee;
}

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
  z-index: 100;
  display: flex;
  flex-flow: row;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar__left {
  padding: 10px;
}

.header {
  height: 9vh;
}

.navbar__rightLinks {
  text-decoration: none;
  color: #151515;
  margin-left: 3rem;
  position: relative;
  transition: all 500ms ease;
}

.navbar__rightLinks:hover::after {
  content: "";
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: -4px;
  border: 2px solid var(--main-purple-color);
}

.navbar__right {
  display: flex;
  margin-right: 40px;
}

.icon {
  margin-left: 40px;
}

.iconShare {
  margin-left: 1vw;
}

.iconShare:hover {
  cursor: pointer;
  color: blue;
}

.Gallery {
  display: none;
}

.navbar__rightLinks:hover + .Gallery {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 15%;
  outline-style: solid;
  outline-color: gray;
}

.Gallery:hover {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 15%;
  outline-style: solid;
  outline-color: gray;
}

.Blog {
  display: none;
}

.navbar__rightLinks:hover + .Blog {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 26%;
  outline-style: solid;
  outline-color: gray;
  background-color: white;
}

.Blog:hover {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 26%;
  outline-style: solid;
  outline-color: gray;
}

.dropBox__rightLinks {
  text-decoration: none;
  color: #151515;
  background-color: white;
}

.dropBox__rightLinks:hover {
  text-decoration: underline;
  text-decoration-color: blue;
  background-color: white;
}

.Page {
  display: none;
}

.navbar__rightLinks:hover + .Page {
  display: flex;
  flex-direction: row;
  position: fixed;
  outline-style: solid;
  outline-color: gray;
  background-color: white;
  width: 99%;
  left: 0.5%;
}

.Page:hover {
  display: flex;
  flex-direction: row;
  position: fixed;
  outline-style: solid;
  outline-color: gray;
  background-color: white;
  width: 99%;
  left: 0.5%;
}

.divider {
  border-left: 1px solid #38546d;
  border-right: 1px solid #16222c;
  height: 280px;
}

.dropBox__Page {
  text-decoration: none;
  color: #151515;
  width: 33%;
  margin-left: 2%;
  display: flex;
}

.dropBox__Page {
  display: flex;
  flex-flow: column;
}

.pageRow {
  display: flex;
  flex-flow: row;
}

.pageColumn {
  display: inline;
  flex-flow: column;
}

.pageColumn2 {
  display: inline;
  flex-flow: column;
  margin-left: 15%;
}

/* hero section */

.background {
  height: 95vh;
  background-image: url(https://ld-wt73.template-help.com/wt_prod-18959/images/slider-1-slide-1-1770x742.jpg);
  background-size: cover;
  text-align: center;
  display: grid;
  place-content: center;
}

.backgroundH1 {
  font-weight: 600;
  font-size: 70px;
  line-height: 2;
  color: #151515;
  text-transform: capitalize;
  letter-spacing: 0.024em;
  word-spacing: 0.05em;
}

.backgroundH3 {
  font-size: 16px;
  line-height: 2;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #151515;
}

.button {
  margin-top: 2vh;
  color: #ffffff;
  background-color: var(--main-purple-color);
  border-color: 1px solid var(--main-purple-color);
  display: inline-block;
  min-width: 200px;
  padding: 17px 33px 15px;
  font-size: 16px;
  line-height: 1.34;
  font-weight: 600;
  letter-spacing: 0.075em;
  cursor: pointer;
  text-decoration: none;
}
/* FEATURED */
.featured {
  padding: 70px 100px;
  display: flex;
  min-height: 70vh;
}

.featured__left,
.featured__right {
  flex: 1;
}

.featured__left {
  display: flex;
  justify-content: center;
}

.featured__left > img {
  height: 100%;
}

.featured__right {
  display: flex;
  flex-wrap: wrap;
}

.featured__rightBox {
  min-height: 200px;
  min-width: 290px;
  max-width: 290px;
  background-color: white;
  margin: 20px;
  -webkit-box-shadow: -2px 3px 43px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 3px 43px -15px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 3px 43px -15px rgba(0, 0, 0, 0.75);
  padding: 20px;
}

.featured__rightBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.featured__rightBox .animatedLine {
  width: 30%;
  border-bottom: 2px solid lightgray;
  transition: 300ms all ease-in;
}

.featured__rightBox:hover .animatedLine {
  border-color: var(--main-purple-color);
  width: 50%;
}

.featured__rightBox h1 {
  font-size: 36px;
  color: black;
  font-weight: normal !important;
}

.featured__rightBoxTitle {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.featured__rightBoxTitle > i {
  font-size: 50px;
  padding: 10px;
  color: var(--main-purple-color);
}

.featured__rightBoxTitle > h3 {
  font-weight: 500;
}

.featured__rightBoxContent {
  margin-top: 10px;
}

/* MEET THE TEAM SECTION */
.meetTheTeam {
  margin: 50px 0;
}

.meetTheTeam__title {
  display: flex;
  justify-content: center;
}

.meetTheTeam__title h2 {
  font-weight: 500;
  font-size: 40px;
}

.meetTheTeam_gallery {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.meetTheTeam__galleryBox {
  cursor: pointer;
  width: 350px;
  margin: 10px;
  position: relative;
  transition: 400ms all ease-in;
}

.meetTheTeam__galleryBox img {
  object-fit: cover;
  width: 100%;
  filter: grayscale(100%);
  transition: 300ms all ease-in;
}

.meetTheTeam__galleryBox:hover img {
  filter: grayscale(0%);
}

.meetTheTeam__teamInfo {
  position: absolute;
  bottom: 10%;
  width: 70%;
  background: #9f9f9f8c;
  padding: 20px;
  transition: 300ms all ease-in;
  color: white;
}

.meetTheTeam__teamInfo .meetTheTeam__name {
  font-weight: 500;
  font-size: 20px;
  transition: 300ms all ease-in;
}

.meetTheTeam__galleryBox:hover .meetTheTeam__teamInfo {
  width: 80%;
  padding-left: 50px;
}



/* What People Say */

#people {
padding-bottom: 15%;
padding-left: 1%;
}

#people h2 {
text-align: center;
padding-top: 2.0rem;
padding-bottom: 3.5rem;
font-size: 2.6em;
font-weight: normal;
}

.people-container {
  float: left;
  width: 30%;
  padding: 0 5px;
}

.people-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: justify;
  background-color: #f1f1f1;
}

.people-card h4 {
  display: inline-block;
  padding-left: 5%;
  position:relative; top:-40px;
  font-size: 24px;
  font-weight: lighter;
  font-family: sans-serif;
}

.people-card p {
  margin-top: -10px;
  font-size: 15px;
}

.people-card h4 a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.people-title {
  padding-left: 24%;
  position: relative; top:-30px;
  color: #756aee;
  
}


/* Latest Blog  */

.container {
  float: left;
  width: 32%;
  padding: 0 10px;
}

#blog-post {
  margin: 0 -5px;
  padding-left: 9.7em;
  padding-bottom: 6.2em;
}

#blog-post:after {
 content: "";
 display: table;
 clear: both;
}

#blog-post h2 {
 text-align: center;
 padding-bottom: 1.2em;
 padding-top: 2.2em;
 font-weight: normal;
 font-size: 2.9em;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.post-number {
  float: left;
  font-size: 30px;
}

.post-month {
  float: left;
  font-size: 30px;
}

.post-title {
  padding-bottom: 1.0em;
  padding-top: 3.0rem;
  margin-right: 10.0em;
  font-size: 1.0rem;
  font-weight: bold;
}

.post-title a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.post-text {
text-align: justify;
font-weight: lighter;
color: gray;
}





/* -----------Footer       */

footer {
  width: 100%;
  background-color: #1b1a29;
  padding: 60px 60px;
  display: flex;
  justify-content: space-around;
}

.footer-column {
  flex: 33%;
  margin-right: 20px;
  padding: 20px;
  font-size: 18px;
}

.footer-column-1 {
  padding-right: 5%;
}

.footer-paragraph > p {
  color: rgb(187, 186, 186);
  margin-bottom: 20px;
}

.footer-column-test {
  background-color: red;
}

.footer-description {
  height: 65px !important;
  display: flex;
  align-items: center;
}

.footer-description-title {
  color: #a096f8;
  font-size: 25px;
  flex: 0.3;
}

.footer-description-content {
  flex: 0.7;
}

.footer-description-content > a {
  text-decoration: none;
  color: white;
}

.footer-description-content > a:hover {
  color: #a096f8;
}

.line {
  width: 100%;
  height: 5px;
  border-bottom: 1px solid lightgray;
}

.footer-form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* Footer Form */

#form {
  background: 🕶;
  padding: 25px;
  margin: 10px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#form h1 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #38546d;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 2em;
  width: 100%;
}

#form input[type="name"],
#form input[type="email"],
#form input[type="message"],
#form textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #1b1a29;
  margin: 0 0 5px;
  padding: 20px;
  font-size: 1em;
  font-weight: bold;
}

#form button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #a096f8;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#form button[type="submit"]:hover {
  background: black;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* Footer Column 3 */

#column-3 a {
  text-decoration: none;
  color: #fff;
  line-height: 1.7em;
}

#column-3 ul,
h1 {
  list-style: none;
  color: gray;
  font-size: 1em;
}

#column-3 {
  padding: 2em;
  margin: 0em;
  font-size: 2em;
  padding-top: 1em;
}

#column-3 a:hover {
  color: #a096f8;;
}

.rights {
  text-align: center;
  color: #38546d;
  padding-bottom: 0.3em;
  margin: 3.2em;
}

.rights a {
  color: #38546d;
  text-decoration: none;
}
